body {
    margin: 0;
    background-color: lightslategray;
}

.box {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}

.container {
    margin: 0;
    background-image: url("bg.jpg");
    background-size: contain no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}